$body-font-family: "Figtree", "Open Sans", roboto, sans-serif !important;

html body {
  font-family: $body-font-family;

  .text-h4,
  .text-h5,
  .text-h6,
  .text-subtitle-1,
  .text-subtitle-2,
  .text-body-1,
  .text-body-2,
  .text-caption {
    font-family: $body-font-family;
  }

  .app--main-content {
    background-color: #ecf0f1;
  }

  .waba--logo-text {
    font-family: "Chewy", cursive;
    font-size: 2.2rem;
    color: #3498db;
  }
}
